.miniMap {
  position: fixed;
  height: 100vh;
  width: var(--layout-minimap-width);
  pointer-events: none;

  .border {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    z-index: 10;
  }
}

// .borderRight {
//   position: fixed;
//   right: 0px;
//   top: 0px;
//   height: 100vh;
//   z-index: -1;
//   width: var(--layout-transition-threshold);
//   // background-color: black;
//   border-left: 1px solid #ccc;
//   pointer-events: none;
// }
