.page {
  margin-left: var(--layout-minimap-width);
  // margin-right: var(--layout-transition-threshold);

  .about {
    height: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    p {
      max-width: 800px;
      text-align: left;
      font-size: 0.9rem;
    }

    .links {
      display: flex;
      gap: 1rem;
    }
  }

  .border {
    height: 1px;
    width: 100%;
    background-color: #ccc;
  }
}

.link {
  @apply text-xs;
  pointer-events: none;
}
