.video {
  --mute-button: none;
  --volume-range: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --play-button: none;
  --live-button: none;
  --playback-rate-button: none;
  --time-display: none;

  width: 100%;
  margin: 1rem 0;
}
